.section{
    display: block;
    position: relative;
    width:100%;
    overflow: auto;
    padding-top: 30px;
}
.section topic{
    position: fixed;
    font-size: 30px;
    text-align: left;
    color: black;
}
.section entries{
    padding-left: 300px;
    display: block;
    font-size: 25px;
    text-align: left;
    left:300px
}